<mat-sidenav-container class='app-drawer-container'>
    <mat-sidenav #sidenav class="app-content">
        <div >
            <div>
            <span class="material-icons" (click)="sidenav.toggle()">
                close
            </span>
        </div>
        <mat-list role="list">
            <mat-list-item role="listitem">{{customer.firstName}}</mat-list-item>
            <mat-list-item role="listitem">{{customer.lastName}}</mat-list-item>
            <mat-list-item role="listitem">{{customer.email}}</mat-list-item>
            <mat-list-item role="listitem">{{customer.city}}</mat-list-item>
            <mat-list-item role="listitem">{{customer.postalCode}}</mat-list-item>
            <mat-list-item role="listitem">{{customer.mobile}}</mat-list-item>
          </mat-list>
        </div>
        
    </mat-sidenav>
</mat-sidenav-container>